.Movies{
    width:90%;
    margin : 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5,350px) ;
    grid-column-gap: 40px;
    grid-row-gap : 25px;
}
.heading{
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: sans-serif;
}

@media(max-width:850px){
    .Movies{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 30px;
        grid-template-rows: repeat(5,300px) ;


    }
}

@media(max-width:650px){
    .Movies{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
        grid-template-rows: repeat(5,250px) ;
        grid-row-gap : 2px;


    }
    .heading{
        font-size: 20px;
    }
}

@media(max-width:400px){
    .Movies{
        grid-template-columns: repeat(1,200px);
        grid-row-gap : 20px;
        grid-column-gap: 20px;
        margin-left:60px
    }
}